*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    background-image: url('weatherapp/images/new\ whether.jpg');
}

nav {
    /* background-color: #111; */
    background-color: #4c5891;
    color: white;
    padding: 20px 50px;
  }
  
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
/*  .search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .searchInput {
    border: none;
    background-color: transparent;
  }
  
  .searchInput::placeholder {
    color: lightgray;
  }
  */
  .limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(194, 40, 156);
    cursor: pointer;
  }
  .limitedOffer:hover {
    color: rgb(194, 40, 156);
  }

  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
  }
  .menuItem:hover{
    color: black;
  }


.card
{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #d16015,#5b548a);
    color: #dababa;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    margin-top: 20px;
    text-align: center;
}

.search
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input
{
    border: 0;
    outline: 0;
    background: #dababa;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;

}
.search button{
    border: 0;
    outline: 0;
    background: #dababa;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img
{
    width: 16px;
}

.weather-icon
{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2
{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col
{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img
{
    width: 40px;
    margin-right: 10px;
}
